h1{
    font-family: Arimo;
    color: #3f5479;
    text-align: center;
}
main img{
    margin: 0 auto;
    display: block;
    padding-bottom: 100px;
}
footer{
    background-color: #3f5479;
}
#lastModified{
    color: yellow;
    margin-top: 2%;
}

