@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Lato:wght@300&display=swap');
body{
background-color: #cdd1c4ff;
}
header{
background-color: #3f5479;
color: #cdd1c4ff;
}
#logo{
max-width: 30%;
margin: 5%;
margin-left: 5%;
}
h1{
font-family: Arimo;
position: absolute;
padding-left: 40%;
top: 1px;
font-size: 150%;
color: #cdd1c4ff;
}
#banner{
    display: none;
    text-align: center;
    padding: 3rem;
    margin-top: .25rem;
    background-color: #cdd1c4ff;
    color: #3F5479;
    z-index: 1;
    opacity: .75;
}
#banner-close{
    display: none;
    position: absolute;
    top: 10rem;
    right: 20px;
    z-index: 1;
}
nav{
display: flex;
flex-direction: column;
list-style: none;
background-color: #4d5061ff;
font-size: 20px;
}
nav a{
display: block;
text-align: justify;
padding: 5%;
color: #cdd1c4ff;
text-decoration: none;
}
#home a{
    color: #3F5479;
}
#home{
    background-color: #cdd1c4ff;
    margin-bottom: 5px;
}
#discover a{
    color: #3F5479;
}
#discover{
    background-color: #cdd1c4ff;
    margin-bottom: 5px;
}
#directory a{
    color: #3F5479;
}
#directory{
    background-color: #cdd1c4ff;
    margin-bottom: 5px;
}
#join a{
    color: #3F5479;
}
#join{
    background-color: #cdd1c4ff;
    margin-bottom: 5px;
}
nav li{
display: none;
}
nav li a{
display: block;
padding: 1rem;
color: #cdd1c4ff;
}
.open li {
display: flex;
justify-content: center;
width: 100%;
}
.open li a {
display: block;
}
#menu{
display: block;
font-size: 80%;
border: 2px solid rgba(0,0,0,.3);
padding: 3% 3% 3% 3%;
background-color: #cdd1c4ff;;
color: #184477;
position: absolute;
right: 3%;
top: 2%;
border-radius: 10px;
box-shadow: 1px 1.5px 15px black;
}
#menu::before {
content: '☰';
}

#menu.open::before {
content: '❌';
}
nav ul{
display: flex;
flex-direction: column;
justify-content: space-evenly;
list-style-type: none;
margin: 0 auto;
padding-left: 5px;
height: 100%;
}
nav li{
font-family: Arimo;
padding-top: 20px;
padding-bottom: 20px;
}
nav li:hover{
transform: scale(1.1);
}
nav a:hover{
color: yellow;
}

main{
display: grid;
grid-template-columns: repeat(4, auto);
grid-template-rows: repeat(10,auto);
}

#hero-img{
max-width: 100%;
height: auto;
grid-column: 1/5;
grid-row: 1/5;
}
p{
font-family: Lato;
font-size: 100%;
color: #3F5479;
}
#call-to-action{
color: rgb(17, 22, 54);
grid-column: 2/4;
grid-row: 6;
font-family: Arimo;
font-size: 150%;
margin: 0 auto;
margin-top: 10%;
}
#current-event{
grid-column: 2/4;
grid-row: 7;
margin-top: 15%;
border: 1px solid black;
width: 80%;
justify-self: center;
}
#current-event h2{
font-family: Arimo;
text-align: center;
color: #30323dff;
}
#current-event p{
text-align: center;
color: #30323dff;
padding-left: 10px;
padding-right: 10px;
font-size: 18px;
}
#weather{
grid-column: 2/4;
grid-row: 8;
margin-top: 15%;
text-align: center;
border: 1px solid black;
width: 80%;
justify-self: center;
}
#weather h2{
font-family: Arimo;
text-align: center;
color: #30323dff;
}
#weather h3{
font-family: Arimo;
font-size: 16px;
}
#spotlight{
grid-column: 2/4;
grid-row: 9;
margin-top: 15%;
margin-bottom: 15%;
font-family: Arimo;
border: 1px solid black;
text-align: center;
width: 80%;
justify-self: center;
font-size: 18px;
}
#spotlight h2{
text-align: center;
font-family: Arimo;
color: #30323dff;
padding: 10px;
}
#spotlight p{
    padding: 10px;
    text-align: center;
    font-family: lato;
    color: #30323dff;
}
#days-message{
grid-column: 2/4;
grid-row: 1;
margin-top: 10%;
margin-bottom: 100%;
height: fit-content;
width: 100%;
border: 1px solid black;
text-align: center;
font-family: Arimo;
color: #cdd1c4ff;
background-color: #4d5061ff;
}
#message{
font-family: Arimo;
font-size: 75%;
color: #cdd1c4ff;
}
#calendar-box{
grid-column: 2/4;
grid-row: 1;
margin-top: 65%;
padding-top: 5%;
font-size: 320px;
width: 1em;
}
iframe{
width: 100%;
}
#upcoming{
background-color: #4d5061ff;
grid-column: 2/4;
grid-row: 2;
margin-top: 0%;
text-align: center;
border: 1px solid black;
}
#upcoming h3{
font-family: Arimo;
color: #cdd1c4ff;
margin: 0 auto;
margin-top: 5%;
}
#upcoming p{
font-family: Lato;
color: #cdd1c4ff;
font-size: 150%;
}
#colonial-advert{
background-color: #4d5061ff;
color: #cdd1c4ff;
grid-column: 2/4;
grid-row: 3;
margin-top: 25%;
text-align: center; 
border: 1px solid black;
width: 100%;
}
#colonial-advert h3{
font-family: Arimo;
color: #cdd1c4ff;
margin: 0 auto;
margin-top: 2%;
margin-bottom: 5%;
text-align: center;
}
#colonial-advert img{
margin-top: 1%;
margin-bottom: 5%;
box-shadow: 5px 5px 15px #4d5061ff;
max-width: 80%;
}
#photo-box{
background-color: #4d5061ff;
grid-column: 2/4;
grid-row: 9/20;
margin-top: 25%;
margin-bottom: 15%;
border: 1px solid black;
width: 100%;
text-align: center;
}
#photo-box img{
padding-top: 10%;
margin: 0 auto;
max-width: 90%;
height: auto;
}
.image-caption{
color: #cdd1c4ff;
font-family: Arimo;
padding-top: 0;
text-align: center;
width: 100%;
}
footer{
text-align: center;
font-family: Arimo;
font-size: 100%;
display: block;
padding: 1% 10% 1% 10%;
background-color: #3f5479;
}
footer p{
color:#cdd1c4ff;;
font-family: Lato;
font-size: 100%;
}
#lastModified{
color: yellow;
margin-top: 2%;
}
:root{
--element-padding: .75rem;
--custom-radius: 10px;
--common-margin: 2rem;
--bold: bold;
--text-color: rgb(15, 11, 11);
--form-text: "Arimo";
}
form{
    grid-column: 1/5;
    grid-row: 1/3;
    margin-left: 1.4rem;
    font-family: var(--form-text);
    font-size: 16px;
    width: 80%;
}
form legend{
padding: 1rem .5rem;
}
fieldset{
font-weight: 700;
margin-top: var(--common-margin);
border-radius: var(--custom-radius);
width: 100%;
max-width: 25rem;
}
fieldset div{
color: #9c2c13;
padding-left: var(--element-padding);
}
form label{
font-weight: 700;
color: var(--text-color);
display: block;
padding: var(--element-padding);
width: 80%;
}
form label input{
color: black;
display: block;
padding: var(--element-padding);
margin-right: 0;
width: 100%;
max-width: 20rem;
border-radius: var(--custom-radius);
}
#submit{
    text-align: center;
    margin: var(--common-margin) 0;
    border-radius: var(--custom-radius);
    background-color: #184477;
    color: white;
    font-family: var(--form-text);
    font-size: 16px;
}
#membership{
color: var(--text-color);
padding-left: var(--element-padding);
margin-top: 1rem;
font-weight: 700;
}
form label.mlevel{
display: block;
color: black;
padding-left: var(--element-padding);
font-weight: 400;
}
form label.mlevel input{
margin-bottom: -1.1rem;
margin-left: 1rem;
}
#submit{
grid-column: 2/4;
margin: var(--common-margin); 
margin-left: 6.5rem;
padding: var(--element-padding);
border-radius: var(--custom-radius);
background-color: #184477;
color: white;
font-family: Arimo;
font-size: 16px;
}
#timestamp{
color: green;
}
#business-levels{
    grid-column: 1/5;
    grid-row: 4/6;
    border: 1px solid black;  
    border-radius: var(--custom-radius);
    width: 80%;
    height: fit-content;
    margin: 2.5rem 0 2.5rem 2.1rem;
    background-color: #4d5061ff;
    color: #cdd1c4ff;
    text-align: center;
}
#level-description{
    font-family: var(--form-text);
    list-style-type: disc;
    font-size: 20px;
    text-align: left;
}
#level-description li{
    list-style-type: disc;
    padding: .5rem 1.5rem .5rem 0;
}
#level-description li:last-child{
    margin-bottom: var(--common-margin);
}
#thanks{
grid-column: 2/4;
grid-row: 1;
margin: var(--common-margin) 0;
color: #3F5479;
font-family: var(--form-text);
font-size: 30px;
text-align: center;
}
#thanks-div{
grid-column: 2/4;
grid-row: 2/6;
margin-top: .25rem;
margin-bottom: 5rem;
color: #3F5479;
font-family: var(--form-text);
font-size: 20px;
text-align: center;
}
/* ----------------------------------------------------------------------------------------------------------- */
#switch-view{
    grid-column: 1/5;
    grid-row: 1 ;
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-top: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: .75rem;
    background-color: #3F5479;
    text-align: center;
}
#switch-view button{
    padding: 1rem;
    font-weight: 700;
}
#businesses p{
    font-family: lato;
    font-size: 1.1rem;
}
.grid-view{
    width: 80%;
}
.grid-view div{
    height: 273.2px;
}
.grid-view li{
    height: auto;
    width: 100%;
    text-align: center;
    font-family: lato;
    font-size: 1rem;
    color: #cdd1c4ff;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.3rem;
    background-color: #4d5061ff;
    margin-left: -.9rem;
    margin-top: 2rem;
}
.grid-view img{
    max-height: 270px;
    width: auto;
    align-items: center;
}
.grid-view p{
    color: #cdd1c4ff;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: .75rem;
}
.grid-view a{
    color: #cdd1c4ff;
    text-align: center;
    width: fit-content;
}
#colonial-shop{
    grid-column: 2/4;
    grid-row: 2;
}
#chowning-shop{
    grid-column: 2/4;
    grid-row: 3;
}
#duck-shop{
    grid-column: 2/4;
    grid-row: 4;
}
#busch-shop{
    grid-column: 2/4;
    grid-row: 5;
}
#club-shop{
    grid-column: 2/4;
    grid-row: 6;
}
#capitol-shop{
    grid-column: 2/4;
    grid-row: 7;
}
#wallace-shop{
    grid-column: 2/4;
    grid-row: 8;
}
.list{
    display: block;
    width: 80%;
}
.list div{
    display: none;
}
.list li{
    height: fit-content;
    width: 19.7rem;
    font-family: lato;
    text-align: center;
    font-size: 1.1rem;
    list-style: none;
    display: block;
    background-color: #30323dff;
    color: #cdd1c4ff;
    border: none;
    margin-left: -2.4rem;
}
.list h3{
    width: 100%;
    text-align: center;
}
.list li:nth-child(odd){
    width: 100%;
    text-align: center;
    background-color: #cdd1c4ff;
    color: #30323dff;
}
.list li:nth-child(odd) a{
    text-align: center;
    color: #30323dff;
}
.list li:nth-child(odd) p{
    width: 100%;
    text-align: center;
    color: #30323dff;
    padding-right: 1rem;
}
.list li:nth-child(even) a{
    width: 100%;
    text-align: center;
    background-color: #30323dff;
    color: #cdd1c4ff;
}
.list li:nth-child(even) p{
    color: #cdd1c4ff;
    text-align: center;
}
